.card { 
    border: 1px solid rgb(93, 173, 226);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    align-items: center;
    margin: 0 auto;
    float: left;
    width: 50%;
    margin-bottom: 100px;
}
.imgmedia{
   max-width: 100%;
   
}
section{
    display:flex;
}
.acont{
    margin: 0 auto ;
    width: 50px;
    height: 150px;
}
.boxcontats{
 overflow: auto;
  width: 100%;
  padding-top: 100px;
}

