li{
    display: inline; 
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(33, 47, 60);
  }
a {
  font-size: 30px;
    text-align: center;
    padding: 2px 140px;
    text-decoration: none;
    display: block;
    color:white;
    background-color: rgb(33, 47, 60);
  }
  li a:hover {
    background-color: rgb(28, 40, 51);
  }
nav{
    background-color: rgb(33, 47, 60);
    height: 60px;
    width: 101.3%;
    padding: -10px;
    margin: -10px;
}
body{
    background-color: rgb(27, 38, 49);
}
.boximg{
  width: 1000px;
  background-color: blue;
  margin:0 auto;
}


