body {
    font-family: Arial, sans-serif;
    justify-content: center;
    margin: 0;
    background-color: #f9f9f9;
}
.card {
    width: 80%;
   
    border: 1px solid rgb(93, 173, 226);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.card img {
    width: 200px;
    margin-right: 15px;
    border-radius: 5px;
}
.imagprod:not(width){
    width: 130px;
    margin-right: 15px;
    border-radius: 5px;
}
.card-content {
    flex: 1;
}
.card-content h3 {
    font-size: 16px;
    margin: 0 0 10px 0;
    color: #333;
}
.card-content a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin: 5px 0;
}
.price {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin: 10px 0;
}
.add-button {
    width: 80px;
    height: 30px;
    background-color: rgb(93, 173, 226);
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    text-align: center; 
}
